<link href="~/css/contact.css" rel="stylesheet" />

<h3 class="contact-title">Contact Information</h3>

<section class="contact-info">

    <article class="contact-info-details">
        <p>Email: <span class="contact-email">Nathan.Bosman.Software@gmail.com</span></p>
        <p>Phone: 623 - 433 - 6416</p>
    </article>

    <article class="contact-info-img">
        <img src="~/images/Email_Icon_sm.png" />
    </article>

</section>

<h3 class="contact-title">Send a message</h3>

<section class="contact-form">

    <p>Email</p>
    <input class="email-sender" type="email" />

    <p>Name</p>
    <input class="email-name" type="text" />

    <p>Subject</p>
    <input class="email-subject" type="text" />

    <p>Message</p>
    <textarea class="email-message" rows="10"/>
    <div>
        <input class="contact-form-submit pull-right" type="button" value="Send" />
    </div>
</section>

<script>

    $('.contact-form-submit').click(function () {

        $.ajax({
            type: "POST",
            url: "Home/Message/",
            data: {
                "message": {
                    Email: $('.email-sender').val(),
                    Name: $('.email-name').val(),
                    Subject: $('.email-subject').val(),
                    Message: $('.email-message').val()
                }
            },
            success: function (response) {
                // Clear Fields
                $('.email-sender').val('');
                $('.email-name').val('');
                $('.email-subject').val('');
                $('.email-message').val('');

                alert(response);
            },
            failure: function (response) {
                alert(response);
            }
        });
    });
</script>