
<link href="~/css/index.css" rel="stylesheet" type="text/css" />



<main class="index-main">
    <header class="index-intro">
        <h1 class="index-title">Welcome! <br /> My name is Nathan Bosman.</h1>

        <h2 class="index-subtitle">I'm a Full Stack Software Developer with a passion for learning.</h2>
        <a class="index-intro-link" href="https://github.com/Hero3D" target="_blank"><img src="~/images/skills/services/GITHUB.png" height="30" /></a>
    </header>

    <img class="index-main-image" src="~/images/InitialsLogo.png" />
</main>

<footer class="index-skills">

    <div class="index-skills-languages">
        <h3>Languages</h3>
        <ul>
            <li><img class="skill-icon" src="~/images/skills/languages/Csharp.png" /></li>
            <li><img class="skill-icon" src="~/images/skills/languages/SQL.png" /></li>
            <li><img class="skill-icon" src="~/images/skills/languages/JS.png" /></li>
            <li><img class="skill-icon" src="~/images/skills/languages/Java.png" /></li>
            <li><img class="skill-icon" src="~/images/skills/languages/HTML.png" /></li>
            <li><img class="skill-icon" src="~/images/skills/languages/css.png" /></li>
        </ul>
    </div>

    <div class="index-skills-frameworks">
        <h3>Frameworks</h3>
        <ul>
            <li><img class="skill-icon" src="~/images/skills/frameworks/ASP.png" /></li>
            <li><img class="skill-icon" src="~/images/skills/frameworks/NETCORE.png" /></li>
            <li><img class="skill-icon" src="~/images/skills/frameworks/BOOTSTRAP.png" /></li>
            <li><img class="skill-icon" src="~/images/skills/frameworks/jQUERY.png" /></li>
            <li><img class="skill-icon" src="~/images/skills/frameworks/VANILLAJS.png" /></li>
        </ul>
    </div>

    <div class="index-skills-services">
        <h3>Services</h3>
        <ul>
            <li><img class="skill-icon" src="~/images/skills/services/AWS.png" /></li>
            <li><img class="skill-icon" src="~/images/skills/services/AZURE.png" /></li>
            <li><img class="skill-icon" src="~/images/skills/services/MSSQL.png" /></li>
            <li><img class="skill-icon" src="~/images/skills/services/GIT.png" /></li>
            <li><img class="skill-icon" src="~/images/skills/services/GITHUB.png" /></li>
        </ul>
    </div>
</footer>