<link href="~/css/projects.css" rel="stylesheet" />

<main class="projects-main">

    <ul class="projects-stack">
        <li><img src="~/images/skills/services/AZURE.png" /></li>
        <li><img src="~/images/skills/frameworks/ASP.png" /></li>
        <li><img src="~/images/skills/frameworks/BOOTSTRAP.png" /></li>
    </ul>

    <section class="projects-project">

        <article class="project-details">
            <header class="project-header">
                <h2 class="project-details-title">Orius</h2>
                <h3 class="project-details-subtitle"> Bug Tracker</h3>
            </header>

            <section>
                <p>
                    A Web Application which allows users to view, submit, edit, and delete bug reports. Also included is authentication, authorization, and other security features.
                </p>
            </section>

            <footer class="project-footer">
                <a href="https://docs.google.com/document/d/1k_60W1IRnFYGoUcGyzGYx_hkNsazypQerIXDjlJ1hAw/edit?usp=sharing" target="_blank">Docs</a>
                <a href="https://github.com/Hero3D/OriusBugTracker" target="_blank">Github</a>
                <a class="screenshots" href="https://imgur.com/a/uZ4Xxvx" target="_blank">Screenshots</a>
                <a class="live-demo" href="https://orius.azurewebsites.net/" target="_blank">Live Demo</a>
            </footer>
        </article>

        <article class="project-image">
            <img src="~/images/OriusLogo.png" />
        </article>

    </section>

    <ul class="projects-stack">
        <li><img src="~/images/skills/frameworks/NETCORE.png" /></li>
        <li><img src="~/images/skills/frameworks/VANILLAJS.png" /></li>
        <li><img src="~/images/skills/frameworks/jQUERY.png" /></li>
    </ul>

    <section class="projects-project">

        <article class="project-details">
            <header class="project-header">
                <h2 class="project-details-title">Web Portfolio</h2>
                <h3 class="project-details-subtitle"> Branding</h3>
            </header>

            <section>
                <p>
                    A personal website to advertise my skills, projects, and contact information.
                </p>
            </section>

            <footer class="project-footer">
                <a href="https://docs.google.com/document/d/1Tb91RTRkbHH767DywB76Nj0OYIpetfqy9F4R4EY5XwQ/edit" target="_blank">Docs</a>
                <a href="https://github.com/Hero3D/WebPortfolio" target="_blank">Github</a>
                <a class="live-demo" href="" target="_blank">Live Demo</a>
            </footer>
        </article>
        <article class="project-image">
            <img src="~/images/InitialsLogo.png" />
        </article>

    </section>
</main>