<link href="~/css/projects.css" rel="stylesheet" />



<main class="projects-main">
    <section class="projects-project">

        <article class="project-image">
            <img src="~/images/SubLogo.png" />
        </article>

        <article class="project-details">
            <header class="project-header">
                <h2>Orius</h2>
                <h3> - Bug Tracker</h3>
            </header>

            <section>
                <p>
                    A Web Application which allows users to view, submit, edit, and delete bug reports. Also included is authentication, authorization, and other security features.
                </p>
            </section>

            <footer>
                <a href="" target="_blank">Docs</a>
                <a href="" target="_blank">Github</a>
                <a href="" target="_blank">Live Demo</a>
            </footer>
        </article>

    </section>

    <section class="projects-project">

        <article class="project-image">
            <img src="~/images/PlanetGif3.gif" />
        </article>

        <article class="project-details">
            <header class="project-header">
                <h2>Orius</h2>
                <h3> - Bug Tracker</h3>
            </header>

            <section>
                <p>
                    A Web Application which allows users to view, submit, edit, and delete bug reports. Also included is authentication, authorization, and other security features.
                </p>
            </section>

            <footer>
                <a href="" target="_blank">Docs</a>
                <a href="" target="_blank">Github</a>
                <a href="" target="_blank">Live Demo</a>
            </footer>
        </article>

    </section>
</main>