@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/index.css" rel="stylesheet" type="text/css" />
<img class="planet-gif" src="~/images/PlanetGif3.gif" height="150" />
<header class="index-intro">

    <h1 class="index-title">Nathan Bosman</h1>
    <h4 class="index-subtitle">Full Stack Software Developer</h4>
</header>


<section class="index-nav">
    <ul class="index-nav-list">
        <li>
            <a href="@Url.Action("About", "Home")">About</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Home")">Projects</a>
        </li>
        <li>
            <a href="@Url.Action("Contact", "Home")">Contact</a>
        </li>
    </ul>
</section>