@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/index.css" rel="stylesheet" type="text/css" />



<header class="index-intro">
    <h1 class="index-title">Nathan Bosman</h1>
    <h4 class="index-subtitle">Full Stack Software Developer</h4>
</header>
<img class="planet-gif" src="~/images/PlanetGif3.gif" height="175" />

<section class="index-nav">
    <ul class="index-nav-list">
        <li><a asp-controller="Home" asp-action="About" class="index-nav-list-item">About</a></li>
        <li><a asp-controller="Home" asp-action="Index" class="index-nav-list-item">Projects</a></li>
        <li><a asp-controller="Home" asp-action="Contact" class="index-nav-list-item">Contact</a></li>
    </ul>
</section>