@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home.css" />

<section class="home-container">

    <heading class="home-intro">
        <h1>Nathan Bosman</h1>
        <h3>Full Stack Software Developer</h3>
    </heading>

    <br />

    <section class="home-nav">
        <ul>
            <li><a asp-area="" asp-controller="Home" asp-action="About">Info</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Projects</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
        </ul>
    </section>
</section>