html, body {
    padding: 0;
    font-family: "Times New Roman", Times, serif;
    letter-spacing: -.1rem;
}

.container a {
    color: #464646;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.index-intro {
    opacity: .8;
}

.index-title {
    color: #182F5B;
    font-size: 4.5rem;
}
.index-subtitle {
    color: grey;
    font-size: 2.45rem;
}

.index-intro, .planet-gif {
    position:fixed;
}
.index-nav {
    padding-top: 55vh;
}

.index-nav ul {
        display: flex;
        list-style: none;
        padding: 0;
}

.index-nav li {
    flex-grow: 1;
    font-size:2.55rem;
    margin:2.75rem;
}

.planet-gif {
    position: absolute;
    transform: translate(-85%, -10%) rotate(-25deg);
    order: -1;
    opacity: 1;
}

@media screen and (max-height: 250px){
    .index-title, .index-subtitle, .planet-gif{
        opacity: .1;
    }

    .index-nav {
        padding: 0;
    }

    .planet-gif {
        opacity: .8;
        transform: none;
    }
}

@media screen and (max-width:500px){
    .index-title, .index-subtitle, .planet-gif {
        opacity: .1;
    }

    .index-nav ul {
        flex-direction: column;
    }

    .index-nav {
       padding: 0;
    }

    .planet-gif{
        opacity: .8;
        transform:none;
    }

    .index-intro{
        top:50px;
    }
}

