ul{
    padding:0;
    display:flex;
    flex-direction:row;
}

li{
    flex-grow: 1;
}

.container{
    display:flex;
    flex-direction:column;
    margin:auto;
}

.index-main{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;

}

.index-title{
    font-size:5rem;
}

.index-subtitle{
    color:grey;
    padding-bottom: 15px;
}



.index-intro-link :hover{
    height:35px;
}

.index-main-image {
    height: 600px;
    padding: 50px;
}

.index-skills{
    display:flex;
    flex-direction:row;
    text-align:center;
}

.index-skills > div{
    padding: 0;
    flex-grow: 1;
    /*border: 1px dashed lightgrey;*/
}

    .index-skills div > ul {
        border: 1px dashed lightgrey;
        padding: 5px;
    }

    .index-skills div > h3 {
        font-weight: bold;
        color: grey;
        text-align: left;
    }

    .skill-icon{
        height: 45px;
        filter: saturate(20%);
    }

    .skill-icon:hover {
        filter: saturate(100%);
    }


@media screen and (max-width: 1000px) {
    .index-main, .index-skills{
        flex-direction:column;
    }

    .index-main-image {
        height: 350px;
    }

    body{
        text-align:center;
    }
}

@media screen and (min-width: 1000px){
    .index-main {
        padding-bottom: 100px;
    }
    /*.index-subtitle {
        width: 75%;
    }*/

    .index-intro{
        flex-grow: 1;
    }

    .index-subtitle{
        width:80%;
    }
}