html, body {
    padding: 0;
    font-family: "Times New Roman", Times, serif;
    letter-spacing: -.25rem;
}

.container a {
    color: #636363;
}


.index-nav-list-item:hover {
 text-decoration: none; }

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.index-title {
    color: #182F5B;
    font-size: 5.5rem;
    margin-bottom:0;
}
.index-subtitle {
    color: grey;
    font-size: 3.1rem;
    margin-top: 0;
}

.index-intro, .planet-gif {
    position: absolute;
}
.index-nav {
    padding-top: 55vh;
}

.index-nav ul {
        display: flex;
        list-style: none;
        padding: 0;
}

.index-nav-list li {
    flex-grow: 1;
    font-size:3.5rem;
    margin:2.75rem;
}
.index-nav-list-item {
    order: 100;
    z-index: 100;

}

.index-nav-list-item:hover {
    flex: none;
    font-size: 4rem;
    color: black;
}

.planet-gif {
    transform: translate(-90%, -10%) rotate(-25deg);
    order: -10;
}

@media screen and (max-height: 350px){
    .planet-gif {
        opacity: .8;
        transform: none;
        color:blue;
    }

    .planet-gif {
        filter: hue-rotate(180deg);
        -webkit-filter: hue-rotate(180deg);
    }
}

@media screen and (max-width:500px){
    .index-nav ul {
        flex-direction: column;
    }

    .planet-gif {
        height:100px;
        transform: none;
        top: 75vh;
    }

    .index-intro{
        top:10vh;
    }
}

@media screen and (max-width:500px), screen and (max-height: 350px) {
    .index-nav {
        padding: 0;
    }

    .index-title{
        font-size:3.5rem;
    }

    .index-subtitle {
        font-size: 1.6rem;
    }
}

