/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
html, body{
    font-family:'Times New Roman', Times, serif;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

li{
    list-style:none;
}

a{
    color:grey;
}

.page-body{
    height:100vh;
}

 a:hover {
        text-decoration: none;
        border: 0;
        /*font-size: larger;*/
        color: #327DB8;
        cursor:pointer;
    }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    width: 80%;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.page-body{
   display:flex;
   flex-direction:column;
   padding:0;
}

.custom-nav {
    border-bottom: 1px solid #D0D0D0;
}

.custom-navbar {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;
    font-size: 2.5rem;
    text-align: center;
    width: 50%;
}

    .custom-navbar li {
        flex-grow: 1;
        padding: 20px 50px;
    }

.light-mode-toggle{
    position:fixed;
    right:0;
    font-size:3rem;
    padding:15px;
    cursor:pointer;
    color:grey;
}

.dark-mode{
    background-color:black;
    color:white;
    border-color:white;
}

    .light-mode-toggle:hover {
        color: #327DB8;
    }
    /* Hide/rearrange for smaller screens */
    @media screen and (max-width: 1000px) {
        /* Hide captions */
        .carousel-caption {
            display: none;
        }

        .custom-navbar{
            width:100%;
        }
        .custom-navbar li{
            border-bottom: 1px solid lightgrey;
        }
    }

@media screen and (min-width: 1000px) {
    .custom-navbar {
        flex-direction: row;

    }
}


